/* Styling for fonts, deklaration of a font-family, text is in the middel of the screen*/
html{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Styling of the labels on the piano keyboard,applies to all keys */
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;   
}

/*Choose a font for the headline "Welcome to Spaceiano"*/
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

/* Choose a font for the headline "Use your keyboard and your mouse to play the piano" */
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}

/* Integrating and aligning the background-image - createt by my selfe*/ 
body {
    
    background-image: url("Klavier_Hintergrund.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Styling and aligning the piano with all keys*/
.piano {
    display:flex;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -40px;
    size: relative;
    /*overflow-x: auto;*/
}
 /* Fremdcode: height: calc(var(--width)*4); width: var(--width); 
 Fremdcode zum stylen des Klaviers, damit Tasten nebeneinander sind*/
.key {
    height: calc(var(--width)*4);
    width: var(--width);

}

/* Styling of the white keys e.g. width and the color*/
.white {
    /* Fremdcode: --width: 75px; Fremdcode zum stylen ausrichten des Klavies bzw. der weißen Tasten*/
    --width: 80px;
    /*-----------------Ende des Fremdcodes----------------------------------*/
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    min-width: 50px;
}

/*Styling of the white keys*/
.black {

    /*Fremdcode --width: 50px; Fremdcode zum stylen und ausrichten des Klavies bzw. der schwarzen Tasten */
    --width: 50px;
    /*-----------------Ende des Fremdcodes----------------------------------*/
    background-color: black;
    border: 2px solid black;
    /* Fremdcode: margin-left: calc(var(--width)/-2); margin-right: calc(var(--width)/-2);
    Fremdcode zum stylen des Klavies, damit Tasten an weißen Tasten ausgerichtet werden*/
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 1;
    border-radius: 5px;
    color: white;
    min-width: 40px;
    
}

/* Styling and aligning of the notes which are shown above the piano*/
.shownotes {
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    line-height: 1;
    color: white;
    transition: all .07s ease;
    min-height: 10px;
    visibility: visible;
    margin-top: 60px;
  }

  /* Aligning of the white labels which are on the white keys*/
.labelwhite {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 3;
    position: relative;
    top: 70%;
    font-size: larger;
    font-weight: bold;
    display: block;
    visibility: visible;
    z-index: 1;
}

/*Alinging of the black labels which are on the black keys*/
.labelblack{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 3;
    position: relative;
    top: 60%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    display: block;
    visibility: visible;
    z-index: 1;

}

/* Styling and aligning of the white notes which are on the piano - helps to know which sound plays which note*/
.notelabelWhite{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 1;
    position: relative;
    top: 80%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    display: block;
    visibility: visible;
    
}

/* Styling and aligning of the black notes which are on the piano - helps to know which sound plays which note*/
.notelabelBlack{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 3;
    position: relative;
    top: 70%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    display: block;
    visibility: visible;
    z-index: 3;
    
}

/*Coloring the  white keys in function changeKeyColor()*/
.activeWhite {
    background-color: #9400D3;
}

/*Coloring the black keys in function changeKeyColor()*/
.activeBlack {
    background-color: #FF00FF;
}


#control {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}
/* Styling of the radio buttons, to aligning them*/
#control .radio{
    size: 100px;
    border: violet;
}

.input{
    visibility: visible;
    z-index: 2;
    position: relative;
    text-align: center;
    margin-bottom: 200px;
}

/* teilweise Fremdcode*/
/* Curtain - Styling of elements which are creating the curtain*/

#begin {
	z-index: 3;
	position: absolute;
	top: 45%;
	left: 35%;
	width: auto;
	height: auto;
	text-align: center;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 3em;
	font-weight: 400;
}

/* Styling the show - when curtain is going away - shows also the text in the begining "Hello little rockstar..."*/
#show {
	position: center;
	top: 45%;
    bottom: 20%;
	left: 10%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-top: 0px;
	margin-left: 0px;
}

/*Aligning to open the curtain, after pressing ENTER*/ 
#openCurtain {
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
    z-index: 2;
	
}

/*Styling to open both sites - left and right*/
#openCurtain .left,
#openCurtain .right {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	filter: brightness(250%);
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/950358/curtain.svg");
	background-size: cover;
	background-repeat: no-repeat;
    z-index: 2;
}

/*Single styling of both sites*/
#openCurtain .left {
	left: 0;
	transform-origin: top right;
}
#openCurtain .right {
	left: 50%;
	transform-origin: top left;
}


/*Open the curtain*/

#show.extend {
	width: 140%;
	left: -20%;
	margin-left: 0;
	animation-fill-mode: forwards;
	animation-duration: 2.5s, 1.5s;
	animation-timing-function: ease-in-out, ease-in-out;
	animation-delay: 0s, 2.5s;
	animation-iteration-count: 1, 1;
	animation-direction: normal, normal;
}

#openCurtain.open .left,
#openCurtain.open .right {
	filter: brightness(150%);
}

/* Animation to open both sites - left and right*/
#openCurtain.open .left {
	animation-fill-mode: forwards;
	animation-name: curtain-opening, left-curtain-opening;
	animation-duration: 2s, 4s;
	animation-timing-function: ease-in-out, ease-in-out;
	animation-delay: 0s, 0s;
	animation-iteration-count: 1, 1;
	animation-direction: normal, normal;
}
#openCurtain.open .right {
	animation-fill-mode: forwards;
	animation-name: curtain-opening, right-curtain-opening;
	animation-duration: 2s, 4s;
	animation-timing-function: ease-in-out, ease-in-out;
	animation-delay: 0s, 0s;
	animation-iteration-count: 1, 1;
	animation-direction: normal, normal;
}

/* Fade-out the text of the beginning*/
.hide {
	animation-fill-mode: forwards;
	animation-name: fade-out;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
}

/* Animation of the curtain*/

@keyframes curtain-opening { /* 2s */
	from { filter: brightness(180%); }
	to { filter: brightness(100%); }
} 

@keyframes left-curtain-opening { /* 4s */ 
	from { transform: translate(0) rotate(0) scale(1,1); }
	to { transform: translate(-100%) rotateY(0deg) scale(0,2); }
}

@keyframes right-curtain-opening { /* 4s */
	from { transform: translate(0) rotate(0) scale(1,1); }
	to { transform: translate(100%) rotateY(0deg) scale(0,2); }
}

@keyframes hide {
	from { color: black; opacity: 1; }
	to { color: white; opacity: 0; }
}