
html{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.piano {
    display: flex;
    margin-top: 300px;
    margin-left: 100px;
    position: relative;
    top: -40px;
}
 /* height: calc(var(--width)*4);
    width: var(--width); Fremdcode zum stylen des Klaviers, damit Tasten nebeneinander sind*/
.key {
    height: calc(var(--width)*4);
    width: var(--width);
}

.white {
    /* --width: 75px;Fremdcode zum stylen des Klavies bzw. der weißen Tasten*/
    --width: 75px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.black {

    /*--width: 50px; Fremdcode zum stylen des Klavies bzw. der schwarzen Tasten */
    --width: 50px;
    background-color: black;
    border: 2px solid black;
    /* margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2); Fremdcode zum stylen des Klavies, damit Tasten an weißen Tasten ausgerichtet sind*/
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 1;
    border-radius: 10px;
    color: white;
    
}

.shownotes {
    font-size: 120px;
    line-height: 1;
    color: black;
    text-shadow: 0 0 5rem #028ae9;
    transition: all .07s ease;
    min-height: 120px;
  }

.label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: ;
    font-size: 25px;
    margin-top: 300px;
}

.activeWhite {
    background-color: #db02d0;
}

.activeBlack {
    background-color: #f93;
}






