
html{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.piano {
    display: flex;
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -40px;
}
 /* height: calc(var(--width)*4);
    width: var(--width); Fremdcode zum stylen des Klaviers, damit Tasten nebeneinander sind*/
.key {
    height: calc(var(--width)*4);
    width: var(--width);
}

.white {
    /* --width: 75px;Fremdcode zum stylen des Klavies bzw. der weißen Tasten*/
    --width: 75px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.black {

    /*--width: 50px; Fremdcode zum stylen des Klavies bzw. der schwarzen Tasten */
    --width: 50px;
    background-color: black;
    border: 2px solid black;
    /* margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2); Fremdcode zum stylen des Klavies, damit Tasten an weißen Tasten ausgerichtet sind*/
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 1;
    border-radius: 5px;
    color: white;
    
}

.shownotes {
    font-size: 120px;
    line-height: 1;
    color: black;
    text-shadow: 0 0 5rem red;
    transition: all .07s ease;
    min-height: 120px;
    margin-top: 200px;
  }

.label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 3;
    position: relative;
    top: 80%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    /*border-color: green;
    border-width: 15px;
    border-style: solid;
    opacity: 0.4;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}*/
    
}

.activeWhite {
    background-color: #db02d0;
}

.activeBlack {
    background-color: #f93;
}






