
html{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;   
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}

body{
    background-image: url("Klavier_Hintergrund.png"); 
    }

.piano {
    display: flex;
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: -40px;
}
 /* height: calc(var(--width)*4);
    width: var(--width); Fremdcode zum stylen des Klaviers, damit Tasten nebeneinander sind*/
.key {
    height: calc(var(--width)*4);
    width: var(--width);
}

.white {
    /* --width: 75px;Fremdcode zum stylen des Klavies bzw. der weißen Tasten*/
    --width: 80px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.black {

    /*--width: 50px; Fremdcode zum stylen des Klavies bzw. der schwarzen Tasten */
    --width: 50px;
    background-color: black;
    border: 2px solid black;
    /* margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2); Fremdcode zum stylen des Klavies, damit Tasten an weißen Tasten ausgerichtet sind*/
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 1;
    border-radius: 5px;
    color: white;
    
}

.shownotes {
    font-family:'Times New Roman', Times, serif;
    font-size:80px;
    line-height: 1;
    color: white;
    transition: all .07s ease;
    min-height: 10px;
    visibility: visible;
    margin-top: 90px;
  }

.labelwhite {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 3;
    position: relative;
    top: 70%;
    /*text-align: center;*/
    font-size: larger;
    font-weight: bold;
    display: block;
    visibility: visible;
    /*border-color: green;*/
}

.labelblack{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 3;
    position: relative;
    top: 60%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    display: block;
    visibility: visible;

}

.notelabelWhite{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 3;
    position: relative;
    top: 80%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    display: block;
    visibility: visible;
    /*width: 20px;
    padding-left: 10px;
    border-color: greenyellow;
    border-width: 3px;
    border-style: solid;
    opacity: 1;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;*/
    
}

.notelabelBlack{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 3;
    position: relative;
    top: 70%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    display: block;
    visibility: visible;
    /*width: 20px;
    padding-left: 10px;
    border-color: greenyellow;
    border-width: 3px;
    border-style: solid;
    opacity: 1;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;*/
    
}

.activeWhite {
    background-color: #db02d0;
}

.activeBlack {
    background-color: #f93;
}




